extends ../partials/layout

block header
  include ../includes/account_header

block subnav
  include ../includes/account_subnav

block content
  != messages('includes/notification', locals)
  .columns.is-centered.is-desktop
    .column.is-7-desktop
      h4.is-size-4.subtitle Account Settings
      form(method="POST", id="account-settings", action="/account")
        .field.is-horizontal
          .field-label.is-normal
            label.label Name
          .field-body
            .field
              .control.has-icons-left
                input.input(name="firstname", type="text", placeholder=user.firstname)
                span.icon.is-small.is-left
                  i.mdi.mdi-account
            .field
              .control.has-icons-left
                input.input(name="lastname", type="text", placeholder=user.lastname)
                span.icon.is-small.is-left
                  i.mdi.mdi-account
        .field.is-horizontal
          .field-label.is-normal
            label.label Username
          .field-body
            .field
              .control.has-icons-left
                input.input(name="username", type="text", value=user.username disabled)
                span.icon.is-small.is-left
                  i.mdi.mdi-account
        .field.is-horizontal
          .field-label.is-normal
            label.label Email
          .field-body
            .field
              .control.has-icons-left
                input.input(name="email", type="email", value=user.email disabled)
                span.icon.is-small.is-left
                  i.mdi.mdi-at
        .field.is-horizontal
          .field-label.is-normal
            label.label Fitness Goal
          .field-body
            .field
              .control.has-icons-left
                input.input(name="fitness-goal", type="text", placeholder=user.fitnessGoal)
                span.icon.is-small.is-left
                  i.mdi.mdi-trophy
        .field.is-horizontal
          .field-label.is-normal
            label.label Start Date
          .field-body
            .field.has-addons
              .control.has-icons-left
                input.input(name="start-date", type="date", value="2018-02-18")
                span.icon.is-small.is-left
                  i.mdi.mdi-calendar
              .control
                .button.is-light#helpToolTipButton(title="Date from which points will be calculated.")
                  span.icon.is-small.is-left
                    i.mdi.mdi-help-circle-outline
        //- hr
        .field.is-horizontal
          .field-label.is-normal
            label.label MyFitnessPal
          .field-body
            .field
              .control.has-icons-left
                input.input(name="mfp", type="text", placeholder=user.mfp)
                span.icon.is-small.is-left
                  i.mdi.mdi-run
        .field.is-horizontal
          .field-label.is-normal
            label.label Current Points
          .field-body
            .field
              .control.has-icons-left
                input.input(name="current-points", type="number", value=user.currentPoints disabled)
                span.icon.is-small.is-left
                  i.mdi.mdi-dumbbell
        //- .field.is-horizontal
        //-   .field-label.is-normal
        //-     label.label Weight
        //-   .field-body
        //-     .field
        //-       .control.has-icons-left
        //-         input.input(name="weight", type="number", value="170" disabled)
        //-         span.icon.is-small.is-left
        //-           i.mdi.mdi-scale-bathroom
        //- .field.is-horizontal
        //-   .field-label.is-normal
        //-     label.label Calorie Goal
        //-   .field-body
        //-     .field
        //-       .control.has-icons-left
        //-         input.input(name="calorie-goal", type="number", value="1700" disabled)
        //-         span.icon.is-small.is-left
        //-           i.mdi.mdi-chart-areaspline
        .field.is-horizontal
          .field-label.is-normal
          .field-body
            .field.is-grouped
              .control
                input.button(type="submit" value="Update")
              .control
                button.button.is-text(type="button", tabindex=0, id="cancel-account-settings")
                  | Reset