extends ../partials/layout

block header
  include ../includes/account_header

block subnav
  include ../includes/account_subnav

block content
  //- - moment().format();
  .columns.is-centered.is-desktop
    .column.is-7-desktop.is-6-fullhd#request-container
      if pendingRequests.length === 0
        article.message.is-info
          .message-header
            p No Requests
          .message-body
            | You have no pending requests.
      else
       each request, i in pendingRequests
        .card(data-id=request._id)
          header.card-header
            p.card-header-title
              | #{request.displayName}
            .card-header-icon.dropdown.is-hoverable.is-right(href='#', aria-label='more options')
              .dropdown-trigger
                span.icon
                  i.mdi.mdi-chevron-down(aria-hidden='true')
                //- button.button.is-info(aria-haspopup='true', aria-controls='dropdown-menu6')
                  span Right aligned
                  span.icon.is-small
                    i.fa.fa-angle-down(aria-hidden='true')
              .dropdown-menu(role='menu')
                .dropdown-content
                  .dropdown-item
                    p
                      em Sent at: 
                      br
                      time #{moment(request.timeRequested).format('ddd, MMM Do, h:ma')}
          .card-content
            .content
              if request.requestMessage
                article.message(class=`is-${partner.username}`)
                  .message-header
                    p #{routeInfo.partnerName}'s Request
                  .message-body
                    p #{request.requestMessage}
              else 
                article.message.is-warning
                  .message-body
                    em No message provided.
          footer.card-footer
            a.card-footer-item.request-button.approve(href='#!') Approve
            a.card-footer-item.request-button.deny(href='#!') Deny
        br
  //- Modal for copyright info. Hidden until JS click event received.
  .modal#request-modal
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Reply to Request
        button.delete(aria-label='close')
      section.modal-card-body
        .content
          //- p 
            | Are you sure you wish to 
            span.response-type
            |  this request?
          .field
            //- label.label Reply
              span.is-pulled-right.is-faded (optional)
            .control
              input.input(name='message', type='text', placeholder='optional message')
      footer.modal-card-foot
        button.button.response-button.is-success#approve-request Approve
        button.button.response-button.is-danger#deny-request Deny
        button.button.cancel Cancel
