extends partials/layout

block header
  p.title
    | Amelia
  p.subtitle
    | Working towards a 
    strong tight round booty
    |  ðŸ‘ step by step!

//- This could be an include, but leaving it here will
//- allow us to work with the 'is-active' logic better
block subnav
  nav#amelia-subnav.navbar.has-shadow.is-white
    .container
      .navbar-tabs
        a.navbar-item.is-tab.is-active(href='#')
          | General
        a.navbar-item.is-tab(href='#')
          | Weight
        a.navbar-item.is-tab(href='#')
          | Spend Points

block content
  //- Set up date information here. 
  //- Unfortunately this can't be done at the top level of an extending template
  - const moment = require('moment');
  - moment().format();

  - const now = moment.utc();
  - const today = now.clone().startOf('day');
  - const todayPretty = today.format('YYYY-MM-DD');

  - const tomorrow = today.clone().add(1, 'day');
  - const tomorrowPretty = tomorrow.format('YYYY-MM-DD');

  .field.is-grouped
    .control
      button.button.is-small.is-info.is-pulled-left.update-entry(data-date=todayPretty) Get Today
    .control
      button.button.is-small.is-info.is-pulled-left.update-entry(data-date=tomorrowPretty) Get Tomorrow
  br

block data
  aside.menu
    p.menu-label Entries
    ul.menu-list
      each entry, i in entries
        - const entryDate = moment.utc(entry.date);
        - const datePretty = entryDate.format('YYYY-MM-DD');
        - const dateHuman = entryDate.format('MM-DD-YYYY');
        li
          button.button.is-small.is-info.is-pulled-right.update-entry(data-id=entry._id, data-date=datePretty) Update Entry
          a #{dateHuman}, netting #{entry.netCals} calories for the day
            //- Could also check datePretty vs todayPretty
            //- This will check Date object vs Date object
            //- It may be more error prone, but also much more specific
            if entry.date === today
              span.tag.is-dark Today
              span.tag.is-success #{today.dayOfWeek}
            if entry.exercise.length > 0
            ul.menu-list
              each exercise, i in entry.exercise
                li #{exercise.name}, (#{exercise.minutes}mins, #{exercise.cals}cals)