extends partials/layout

block header
  p.title
    | Get Fit!
  p.subtitle
    | #{routeInfo.userName} & #{routeInfo.partnerName} are gonna be 
    strong sexy 
    | next summer! 👙 🏖

block subnav
  include includes/overview_subnav

block content
  .container
    .columns.is-fullhd
      //- .column.is-2
      .column.is-6
        .card.overview-card
          header.card-header(class=`is-${user.username}`)
            a.card-header-title.is-size-4(href='/user') #{routeInfo.userName}
            .card-header-icon.dropdown.is-hoverable(href='#', aria-label='more options')
              .dropdown-trigger
                span.icon
                  i.mdi.mdi-chevron-down(aria-hidden='true')
                //- button.button.is-info(aria-haspopup='true', aria-controls='dropdown-menu6')
                  span Right aligned
                  span.icon.is-small
                    i.fa.fa-angle-down(aria-hidden='true')
              .dropdown-menu(role='menu')
                .dropdown-content
                  .dropdown-item
                    p
                      //- em Sent at: 
                      br
                      //- time #{moment(request.timeRequested).format('ddd, MMM Do, h:ma')}
          .card-content
            .content
              h5.is-size-5 
                u Points: 
              p #{pointTally.user.toFixed(1)}
          //- footer.card-footer
            a.card-footer-item.request-button.approve(href='#!') Approve
            a.card-footer-item.request-button.deny(href='#!') Deny
      .column.is-6
        .card.overview-card
          header.card-header(class=`is-${user.partner}`)
            a.card-header-title.is-size-4(href='/partner') #{routeInfo.partnerName}
            .card-header-icon.dropdown.is-hoverable(href='#', aria-label='more options')
              .dropdown-trigger
                span.icon
                  i.mdi.mdi-chevron-down(aria-hidden='true')
                //- button.button.is-info(aria-haspopup='true', aria-controls='dropdown-menu6')
                  span Right aligned
                  span.icon.is-small
                    i.fa.fa-angle-down(aria-hidden='true')
              .dropdown-menu(role='menu')
                .dropdown-content
                  .dropdown-item
                    p
                      //- em Sent at: 
                      br
                      //- time #{moment(request.timeRequested).format('ddd, MMM Do, h:ma')}
          .card-content
            .content
              h5.is-size-5 
                u Points: 
              p #{pointTally.partner.toFixed(1)}
          //- footer.card-footer
            a.card-footer-item.request-button.approve(href='#!') Approve
            a.card-footer-item.request-button.deny(href='#!') Deny
      //- .column.is-2
        