//- Mixins included in partials/header.pug
mixin ExerciseCard(entry, startDate)
  - const entryDate = moment.tz(entry.date, 'US/Pacific').startOf('day');
  - const weekDay = entryDate.format('ddd');
  - const datePretty = entryDate.format('YYYY-MM-DD');
  - const dateHuman = entryDate.format('MM-DD-YYYY');
  - const fullDate = entryDate.format('ddd, MMM Do, YYYY')
  - const weekSummary = weekSummaries.find(week => entryDate.isSame(week.endDate));
  //- Break up into weeks and we'll come back to this for a weekly point total
  .columns.is-centered.is-desktop
    .column.is-6-desktop.is-5-fullhd
      if weekDay === 'Sun'
        .message.inline-card-notification
          .message-header
            span Weekly Summary
            span.is-pulled-right #{entryDate.clone().subtract(7, 'days').format('MMM DD')} - #{entryDate.format('MMM DD')}
          .message-body
            p Over the past week, you hit your calorie goal #{weekSummary.successfulDays}/7 days! You worked out #{weekSummary.points} times for a total of #{weekSummary.workoutMinutes} minutes, earning you #{weekSummary.points} points this week!
        br
      .card.exercise-card
        header.card-header
          p.card-header-title
            a.icon.is-small(href=`http://www.myfitnesspal.com/food/diary?date=${datePretty}#complete_day`, target='_blank' class=(entry.isEmpty  ? 'has-text-danger' : false))
              if entry.isEmpty
                i.mdi.mdi-alert-circle-outline
              else if entry.complete
                i.mdi.mdi-checkbox-marked-circle-outline
              else
                i.mdi.mdi-checkbox-blank-circle-outline
            span &nbsp;&nbsp;
            a(href=`http://www.myfitnesspal.com/food/diary?date=${datePretty}`, target='_blank')
              | #{fullDate}
          a.card-header-icon(href='#!', aria-label='more options')
            if entry.points < 0 
              span.tag.is-danger
                | #{entry.points.toFixed(1)}
            else if entry.points === 0 
              span.tag.is-warning
                | #{entry.points.toFixed(1)}
            else if entry.points > 0 
              span.tag.is-success
                | #{entry.points.toFixed(1)}
            else
              span.tag.is-dark
                | #{entry.points.toFixed(1)}
            //- span &nbsp; &middot; &nbsp;
            //- span.icon.is-small
              i.mdi.mdi-chevron-down
        .card-content
          .content

            //- Determine color of progress bar based on net calories!
            //- ======================================================
            - let calStatus;
            if entry.netCals > 0 || entry.netCals === 0
              - calStatus = 'success'
            else if entry.netCals < 0 && entry.netCals > -300
              - calStatus = 'warning'
            else if entry.netCals < -300
              - calStatus = 'danger'
            else
              //- Default value
              - calStatus = 'primary'
            //- ======================================================

            //- Check to see if this entry has cals or exercise
            if entry.isEmpty && entry.exercise.length === 0
              p.has-text-centered Hmm, nothing here yet!
            //- If no cals, but exercise, do not show progress bar, but also
            //- don't say that there's nothing here.
            else if entry.isEmpty
              p.has-text-centered No calorie information.
            //- If not empty, show calories and progress bar!
            else
              .progress-container
                progress(
                  class=`progress cals is-${calStatus}`
                  value=entry.totalCals, 
                  max=entry.goalCals
                ) 
                span.progress-text #{entry.totalCals} / #{entry.goalCals} cals
            if entry.exercise.length > 0
              .table-container
                table.table
                  thead
                    th
                    th exercise
                    th points
                    th mins
                    th cals
                  tbody
                    each exercise, i in entry.exercise
                      tr
                        td.exercise-icon
                          .icon
                            img(src='/images/icons/' + exercise.icon, alt=exercise.name)
                        td #{exercise.name}
                        case exercise.points
                          when -1
                          when 1
                            td #{exercise.points}
                          default 
                            td #{exercise.points}
                        td #{exercise.minutes}
                        td #{exercise.cals}
        footer.card-footer
          a.card-footer-item
            .button.is-fullwidth.is-fullheight.update-entry(data-id=entry._id, data-date=datePretty, href='#!')
              span.icon.is-small
                i.mdi.mdi-update
              span Update
      if entryDate.isSame(startDate)
        br
        .notification.inline-card-notification
          p.has-text-centered Start of Point Tracking