//- Mixins included in partials/header.pug
mixin ExerciseCard(entry, startDate)
  - const entryDate = moment.tz(entry.date, 'US/Pacific').startOf('day');
  - const weekDay = entryDate.format('ddd');
  - const datePretty = entryDate.format('YYYY-MM-DD');
  - const dateHuman = entryDate.format('MM-DD-YYYY');
  - const fullDate = entryDate.format('ddd, MMM Do, YYYY')
  - const weekSummary = weekSummaries.find(week => entryDate.isSame(week.endDate));
  - const points = entry.points.toFixed(1)
  - const completedColor = entry.complete ? "" : "color: #bdbdbd;"
  //- Break up into weeks and we'll come back to this for a weekly point total
  .columns.is-centered.is-desktop
    .column.is-6-desktop.is-5-fullhd
      if weekDay === 'Sun'
        .message.inline-card-notification
          .message-header
            span Weekly Summary
            span.is-pulled-right #{entryDate.clone().subtract(7, 'days').format('MMM DD')} - #{entryDate.format('MMM DD')}
          .message-body
            p Over the past week, you hit your calorie goal #{weekSummary.successfulDays}/7 days! You worked out #{weekSummary.workouts} times for a total of #{weekSummary.workoutMinutes} minutes, earning you #{weekSummary.points} points this week!
        br
      .card.exercise-card
        header.card-header
          p.card-header-title
            a.icon.is-small(href=`http://www.myfitnesspal.com/food/diary?date=${datePretty}#complete_day`, target='_blank' class=(entry.isEmpty  ? 'has-text-danger' : false))
              //- I actually don't like the way this looks, let's keep it grey
              //- if entry.isEmpty
                i.mdi.mdi-alert-circle-outline
              if entry.complete
                i.mdi.mdi-checkbox-marked-circle-outline
              else
                i.mdi.mdi-checkbox-blank-circle-outline(style="color: #dbdbdb")
            span &nbsp;&nbsp;
            a(href=`http://www.myfitnesspal.com/food/diary?date=${datePretty}`, target='_blank')
              span(style=completedColor) #{fullDate}
          a.card-header-icon(href='#!', aria-label='more options')
            //- Determine color of points tag based on success!
            //- ======================================================
            //- If entry is empty or incomplete, show grey tag (unless negative)
            if entry.isEmpty || !entry.complete
              if entry.points < 0 
                span.tag.is-danger
                  | #{points}
              else if entry.points === 0
                span.tag(style="background-color: #dbdbdb; color: #000")
                  | #{points}
            else
              if entry.points < 0 
                span.tag.is-danger
                  | #{points}
              else if entry.points === 0 
                span.tag.is-warning
                  | #{points}
              else if entry.points > 0 
                span.tag.is-success
                  | #{points}
              else
                span.tag.is-dark
                  | #{points}
              //- ======================================================
            //- span &nbsp; &middot; &nbsp;
            //- span.icon.is-small
              i.mdi.mdi-chevron-down
        .card-content
          .content

            //- Determine color of progress bar based on net calories!
            //- ======================================================
            - let calStatus;
            if !entry.complete
              - calstatus = 'primary'
            else if entry.netCals > 0 || entry.netCals === 0
              - calStatus = 'success'
            else if entry.netCals < 0 && entry.netCals > -300
              - calStatus = 'warning'
            else if entry.netCals < -300
              - calStatus = 'danger'
            else
              //- Default value
              - calStatus = 'primary'
            //- ======================================================

            //- Check to see if this entry has cals or exercise
            if entry.isEmpty && entry.exercise.length === 0
              p.has-text-centered Hmm, nothing here yet!
            //- If not empty, show calories and progress bar!
            else
              .progress-container
                progress(
                  class=`progress cals is-${calStatus}`
                  value=entry.totalCals, 
                  max=entry.goalCals
                ) 
                //- Except if no cals, don't say 0/8
                if entry.isEmpty
                  span.progress-text No calorie information.
                else
                  - const calPoints = ((entry.goalCals - entry.totalCals) / 100).toFixed(1)
                  span.progress-text #{entry.totalCals} / #{entry.goalCals} cals&nbsp;
                    | (#{calPoints} pts)
            if entry.exercise.length > 0
              .table-container
                table.table
                  thead
                    th
                    th exercise
                    th points
                    th mins
                    th cals
                  tbody
                    each exercise, i in entry.exercise
                      tr(style=completedColor)
                        td.exercise-icon
                          .icon
                            img(src=`/images/icons/${exercise.icon}`, alt=exercise.name)
                        td #{exercise.name}
                        td #{exercise.points}
                        td #{exercise.minutes}
                        td #{exercise.cals}
        footer.card-footer
          a.card-footer-item
            .button.is-fullwidth.is-fullheight.update-entry(data-id=entry._id, data-date=datePretty, href='#!')
              span.icon.is-small
                i.mdi.mdi-update
              span Update
      if entryDate.isSame(startDate)
        br
        .notification.inline-card-notification
          p.has-text-centered Start of Point Tracking